*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    background-color: #222;
}
.card{
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg,#00feba,#5b548a);
    color: #fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}
.search{
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.search input{
    border: 0;
    outline: 0;
    background:#ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}
.search button{
    border: 0;
    outline: 0;
    background:#ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}
.search button img{
    width: 16px;
}
.weather-icon{
    width: 170px;
    margin: 10px 0 10px 0;
}
.weather h1{
    font-size: 80px;
    font-weight: 500;
}
.weather h2{
    font-size: 35px;
    font-weight: 400;
    margin-top: -5px;
}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 0 20px;
    margin-top: 50px;
}
.col{
    display: flex;
    align-items: center;
    text-align: left;
}
.col img{
    width: 40px;
    margin-right: 10px;
}
.humidity, .wind{
    font-size: 28px;
    margin-top: -6px;
}
.weather{
    display: none;
}
.error{
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 10px;
    display: none;
}
.sun { 
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:300px;
    margin: auto;  
    width:70px;
    height:70px;
    border-radius:50%;	
    background:white;
    opacity:0.9;			
    box-shadow: 0px 0px 40px 15px white;
    

  }
  
  .ray_box {
    position: absolute;
    margin: auto;
      top:0px;
      left:0;
      right:0;
      bottom:0;	
    width:70px;  
    -webkit-animation: ray_anim 120s linear infinite;
    animation: ray_anim 120s linear infinite;
  }
  .ray {  
      background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.8) 50%, rgba(255,255,255,0) 100%);
          background: linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.8) 50%, rgba(255,255,255,0) 100%); 
      margin-left:10px;
      border-radius:80% 80% 0 0;
      position:absolute;
      opacity:0.1;
  }
  
  .ray1 {    
      height:170px;
      width:30px;
     -webkit-transform: rotate(180deg);
      top:-175px;
      left: 15px;
  }
  .ray2 {
      height:100px;
      width:8px;
     -webkit-transform: rotate(220deg);
      top:-90px;
      left: 75px;
  }
  .ray3 {
      height:170px;
      width:50px;
     -webkit-transform: rotate(250deg);
      top:-80px;
      left: 100px;
  }
  .ray4 {
      height:120px;
      width:14px;
     -webkit-transform: rotate(305deg);
      top:30px;
      left: 100px;
  }
  .ray5 {
      height:140px;
      width:30px;
     -webkit-transform: rotate(-15deg);
      top:60px;
      left: 40px;
  }
  .ray6 {
      height:90px;
      width:50px;
     -webkit-transform: rotate(30deg);
      top:60px;
      left: -40px;
  }
  .ray7 {
      height:180px;
      width:10px;
     -webkit-transform: rotate(70deg);
      top:-35px;
      left: -40px;
  }
  .ray8 {
      height:120px;
      width:30px;
     -webkit-transform: rotate(100deg);
      top:-45px;
      left:-90px;
  }
  .ray9 {
      height:80px;
      width:10px;
     -webkit-transform: rotate(120deg);
      top:-65px;
      left:-60px;
  }
  .ray10 {
      height:190px;
      width:23px;
     -webkit-transform: rotate(150deg);
      top:-185px;
      left: -60px;
  }
  
  
  @-webkit-keyframes ray_anim { 
          0% { -webkit-transform: rotate(0deg); transform: rotate(0deg);}    
      100% { -webkit-transform: rotate(360deg); transform: rotate(360deg);}
  }